.App {
    min-height: 100vh;
    background-color: #f6fef1;

}

.container {
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px;
}


.error {
    border: red 2px solid;
}

.error-message {
    color: red;
}

.is-done {
    opacity: 0.5;
}

.todo {
    width: 300px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    height: auto;
    margin: 20px;
    min-height: 500px;
}

h3 {
    font-size: 35px;
    margin: 0 auto;
}

.addItem {
    margin: 15px;
    min-height: 500px;

}

.buttonsBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.tasks {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    min-height: 200px;
    width: 260px;

}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 300px;
    font-size: 16px;

}

.texField {
    display: flex;
    flex-direction: column;
    min-height: 100px;

}

.textField-button {
    margin: 15px;
    display: flex;
    align-items: end;
    justify-content: center;
    max-height: 50px;
}


